# Base de datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=pwa_interacciones

# JWT
JWT_SECRET=

# Recuperación de contraseña
MAIL_USER=tucuenta@gmail.com
MAIL_PASS=xxxxxxxxxxxxxxxxx